[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[packages]
blurhash-python = "*"
"html2text" = "*"
jmespath = "*"
pillow = ">=4.0.0"
python-geohash = "*"
pytility = "*"
readability-lxml = "*"
scrapy = "*"
twisted = "*"
w3lib = "*"

[dev-packages]
black = "==19.10b0"
mypy = "*"
pylint = "*"
twine = "*"
